*
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    max-width: 1920px;
}
.header--container
{
    position: fixed;
    width: 100%;
   
}
.nav--container
{
    width: 100%;
}
.ul--item{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 250px;
    width: 100%;
    background-color: transparent;
}
.li--item
{
    margin-left: 20px;
    list-style: none;
}
.a--item
{
    font-size: 20px;
    opacity: 0.3;
    color: #000000;
    text-decoration: none;
}

[class^="section--container"]
{
    padding-top: 100px;
    border-top: 1px solid black;
    height: 100vh;
    width: 100%;
}
.section--animate
{
    position: absolute;
    left: 85%;
    background-color: rebeccapurple;
    height: 500vh;
    width: 200px;
}
.section--container--Home
{
    background-color: #FFFFFF;
}

h1
{
    margin: 0;
    font-size: 100px;
    color: #3ABEF8;
}
p{
    opacity: 0.6;
    color: #000000;
    font-size: 20px;
}
img
{
    height: 15px;
    width: 15px;
}
.footer__author
{
    display: flex;
    width: 85%;
    height: 100px;
    background: transparent linear-gradient(90deg, #001620 0%, #032939 26%, #005980 34%, #3ABEF8 43%, #8FDAFB 65%, #B2E6FC 77%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}
h3
{
    font-size: 20px;
    color: #FFFFFF;
}
.div--footer
{
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}