body {
  min-height: 700px;
  background-color: #d7fffd;
  width: 100%;
  font-family: 'Spartan', sans-serif;
}
.div__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  height: 650px;
  width: 100%;
}
.main__container {
  background-color: royalblue;
  height: 600px;
  width: 600px;
}
.section__personal {
  position: absolute;
  background-color: red;
  height: 400px;
  width: 400px;
  margin-right: 600px;
  z-index: 10;
}
.container__proyectos {
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
  width: 100%;
}
.h2__proyectos {
  font-size: 2rem;
}
.ul__list--proyects {
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: auto;
  width: auto;
}
.div__container--li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: purple;
  height: 500px;
  width: 50%;
}
[class^="li__proyect--"] {
  margin: 10px;
  height: 400px;
  width: 200px;
  background-color: yellow;
}
.section__tecnology {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9f9;
  height: 200px;
  width: 100%;
}
.ul__list--tecnology {
  list-style: none;
  display: flex;
}
[class*="li__tecno"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 30px;
  background-color: transparent;
  border: 0.5px solid #CCD1D1;
  border-radius: 5px;
  height: 150px;
  width: 100px;
}
[class^="li__tecno--"]:hover {
  background-color: white;
  transition: .2s;
  box-shadow: -9px 10px 9px -8px rgba(0, 0, 0, 0.35);
}
img {
  margin: 0 20px;
  width: 40px;
  height: 40px;
}
.linkedin {
  border-radius: 100%;
  width: 45px;
  height: 45px;
}
.section__form--style {
  display: none;
}
.footer__author {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c3e50;
  height: 100px;
  width: 100%;
}
