.section--about {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  display: grid;
  grid-template-rows: 50px 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'header header'
    'title title'
    'img content';
  padding-bottom: 40px;

  h2 {
    font-weight: 400;
    margin-left: 10px;
    font-size: 2em;
    grid-area: title;
  }
  img {
    grid-area: img;
    height: 100%;
    width: 100%;
  }

  .div--text {
    padding: 10% 20px;
    grid-area: content;

    h3 {
      font-size: 2.5em;
      font-weight: 200;
      width: 100%;
      text-align: left;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    p {
      font-weight: 100;
      text-align: justify;
      width: 100%;
      font-size: 1.3rem;
    }
  }

  .div--tech {
    width: 100%;
    h4 {
      font-weight: 200;
      font-size: 1.4rem;
      width: inherit;
    }

    div {
      width: 100%;

      i {
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .section--about {
    overflow-y: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'title'
      'img'
      'content';
    padding-top: 40px;

    img {
      min-height: 250px;
    }

    .div--text {
      padding-top: 20px;
    }
  }
}
