<footer itemscope itemtype="https://schema.org/Person"  class="footer--authorInformation">
    <div class="div--LinkPagesContainer">
        <a class="a--media" href="https://github.com/Nicolas-alt" target="_blank"><i class='i--MediaIcons bx bxl-github'></i></a> 
        <a class="a--media" href="https://twitter.com/Nicolas35103573" target="_blank"><i class='i--MediaIcons bx bxl-twitter'></i></a>
        <a class="a--media" href="https://www.linkedin.com/in/nicolas-jimenez-b20660184/" target="_blank"><i class='i--MediaIcons bx bxl-linkedin-square'></i></a>
        <a class="a--media" href="https://gitlab.com/Nicolas-alt" target="_blank"> <i class='i--MediaIcons bx bxl-gitlab'></i></a>
    </div>
    <p>Designed and Developed by Nicolas Jiménez  2020</p>
</footer>
