.section--container {
    height: 100vh;
    background-color: #6A67BF;
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-template-areas: "img text";
    padding-top: 60px;
    width: 100%;
}

.div--img {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);


    h1 { 
        font-size: 3rem;
        color: #FFD95E;
    }

    .img--main {
        height: 70vh;
        width: 50vw;
        grid-column-start: span 2;
        grid-area: img;
        
    }
}


p {
    font-size: 1rem;
    color: white;
}


  
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 650px) {
    
}