<section class="section--container" id=primary>
  <div class="div--img ">
    <div class="div--typedStrings">
      <div id="typed-strings">
        <p class="p--code">
          <span class="span--blue">import</span> 
          <span class="span--white">Greeting</span>
          <span class="span--blue">from</span>
          <span class="span--green">'Nicolas.hi';</span>
        </p>
        <p>
          <span id="typed"></span>
        </p>
      </div>
    </div>
    <img  class="img--main" src="../../../assets/svg/2.svg" alt="Imagen editor texto." />
  </div>

<div class="div--text">    
  <div class="div--appNavBar">
    <app-nav-bar></app-nav-bar>
  </div>
    <h1 class="animate__animated  animate__fadeInUp">Nicolas <br /><span> Jiménez</span></h1>
      <p class="p--intro">- <span  class="span--intro" id=dev></span></p>
      <div class="div--social"  
           [ngsRevealSet]="{ reset:true }" 
           [ngsInterval]="300" 
           [ngsSelector]="'.a--social'">
        <a class="a--social" href="https://github.com/Nicolas-alt" target="_blank"> <i class='bx bxl-github'></i></a>
        <a class="a--social" href="https://www.linkedin.com/in/nicolas-jimenez-b20660184/" target="_blank"> <i class='bx bxl-linkedin' ></i></a>
        <a class="a--social" href="https://twitter.com/Nicolas35103573" target="_blank"> <i class='bx bxl-twitter' ></i></a>
        <a class="a--social" href="https://gitlab.com/Nicolas-alt" target="_blank"> <i class='bx bxl-gitlab'></i></a>
      </div>
      <a  class="div--social a--projects" [routerLink]="['/experiencia']" > Mis proyectos 
        <img src="../../../assets/svg/icon-angle-right.svg" alt="Arrow icon"> 
      </a>
</div>
</section>

<section class="section--secundary" id="secundary">
  <div class="div--gridContainer">

      <div class="div--info Card">
        <div class="div--cardContainer">
            <div class="div--cardColor"></div>
            <div class="div--cardText">
              <img class="img--card" src="../../../assets/img/picture.jpg" alt="Profile picture" />
              <h2>Nicolas Jiménez</h2>
              <p>Desarrollador front-end, estudiante en una tecnología en
                desarrollo de software, apasionado por el desarrollo web.
              </p>
              <div class="div--media">

              </div>
            </div> 
        </div>
      </div>

        <div class="Card div--cardItem div--cardItem1">1</div>
        <div class="Card div--cardItem div--cardItem2">2</div>
        <div class="Card div--cardItem div--cardItem3">3</div>  
  </div>

  <a class="a--rocket" href="#primary">
    <img class="img--rocket" src="../../../assets/svg/5.svg" alt="To top">
  </a>
  <div class="div--footer">
    <app-footer></app-footer>
  </div>
</section> 
