<nav class=" ">
    <a class=""  [routerLink]="['/']">
      <img src="https://cdn.iconscout.com/icon/free/png-256/code-336-830581.png" 
           class="d-inline-block align-top" alt="Logo Página" loading="lazy"
           width="25" 
           height="25" />
           Nicolas Jiménez
    </a>
    <div class="" id="">
        <ul class="">
          <li class="">
            <a class="" [routerLink]="['/experiencia']" routerLinkActive="active">Experiencia</a>
          </li>
          <li class="">
            <a class="" routerLinkActive="active" [routerLink]="['/skills']">Skills</a>
          </li>
        </ul>
     </div>
</nav>