<nav class="nav--conteiner">
    <!-- <a class="a--navImg"  [routerLink]="['/']">
      <img src="https://cdn.iconscout.com/icon/free/png-256/code-336-830581.png"
           class="img--logo"
           alt="Logo Página" 
           loading="lazy"
           width="25" 
           height="25" />
    </a> -->
    <ul class="ul--container">
      <li class="li--item">
        <a class="a--navMenu" 
            [routerLink]="['/']" 
            routerLinkActive="a--navMenu--active">
            Home
        </a>
      </li>
      <li class="li--item">
        <a class="a--navMenu" 
            [routerLink]="['/experiencia']" 
            routerLinkActive="a--navMenu--active">
            Experiencia
        </a>
      </li>
      
      <li class="li--item">
        <a class="a--navMenu" 
            routerLinkActive="a--navMenu--active" 
            [routerLink]="['/skills']">
            Skills
        </a>
      </li>
    </ul>
</nav>