<section class="section--experiencia">

    <div class="card text-center">
        <div class="card-header">
            LogBook
        </div>
        <div class="card-body">
          <h5 class="card-title">Objetivo</h5>
          <p class="card-text">Proyecto Lb</p>
        </div>
        <div class="card-footer text-muted">
          Tecnologias
        </div>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>


      <div class="card text-center">
        <div class="card-header">
            Rails Blog
        </div>
        <div class="card-body">
          <h5 class="card-title">Objetivo</h5>
          <p class="card-text">Crear un blog en RoR</p>
        </div>
        <div class="card-footer text-muted">
          Tecnologias
        </div>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>

      <div class="card text-center">
        <div class="card-header">
            Discovering Music
        </div>
        <div class="card-body">
          <h5 class="card-title">Objetivo</h5>
          <p class="card-text">Web para buscar artistas y sus obras.</p>
        </div>
        <div class="card-footer text-muted">
          Tecnologias
        </div>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>

      <div class="card text-center">
        <div class="card-header">
            The tables
        </div>
        <div class="card-body">
          <h5 class="card-title">Objetivo</h5>
          <p class="card-text">Un proyecto para ver las tablas de forma dinámica.</p>
        </div>
        <div class="card-footer text-muted">
          Tecnologias
        </div>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>
</section>
