<section class="section--experiencia">

    <div class="card text-center">
        <div class="card-header">
            LogBook
        </div>
        <div class="card-body">
          <p class="card-text">Proyecto Lb</p>
        </div>
        <div class="card-footer text-muted">
          Tecnologias
        </div>
        <a (click)="goToLink('https://log-book-landing.vercel.app/')" class="btn btn-primary">Ver</a>
        <a (click)="goToLink('https://github.com/Nicolas-alt/LogBookLanding')"  class="btn btn-outline-info">Ver código</a>
      </div>


      <div class="card text-center">
        <div class="card-header">
            Rails Blog
        </div>
        <div class="card-body">
          <p class="card-text">Crear un blog en RoR</p>
        </div>
        <div class="card-footer text-muted">
          Tecnologias
        </div>
        <a [routerLink]="['/ups']" class="btn btn-primary">Ver</a>
        <a (click)="goToLink('https://github.com/Nicolas-alt/RailsBlog')" class="btn btn-outline-info">Ver código</a>
      </div>

      <div class="card text-center">
        <div class="card-header">
            Discovering Music
        </div>
        <div class="card-body">
          <p class="card-text">Web para buscar artistas y sus obras.</p>
        </div>
        <div class="card-footer text-muted">
          Tecnologias
        </div>
        <a [routerLink]="['/ups']" class="btn btn-primary">Ver</a>
        <a (click)="goToLink('https://github.com/Nicolas-alt/DiscoveringMusic')" class="btn btn-outline-info">Ver código</a>
      </div>

      <div class="card text-center">
        <div class="card-header">
            The tables
        </div>
        <div class="card-body">
          <p class="card-text">Un proyecto para ver las tablas de forma dinámica.</p>
        </div>
        <div class="card-footer text-muted">
          Tecnologias
        </div>
        <a [routerLink]="['/ups']" class="btn btn-primary">Ver</a>
        <a (click)="goToLink('https://github.com/Nicolas-alt/The-tables')" class="btn btn-outline-info">Ver código</a>
      </div>
</section>
