//Grid de la pagina
    
body::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body{
    display: grid;
    background-color: @azul-claro;
}




.main__container{
    margin-top: @header-size + 20;
}

.container__pt{
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 800px;
    width: 100%;
}

.proyectos{
    background-color: yellow;
    width: 50%;
}

.tecnologias{
    background-color: red;
    width: 50%;
}


