$fontIconSize: 2rem;
$textColor: #00e3fe;

.section--principal {
  height: 100vh;
  width: 100%;
  display: flex;
}

/*
==================
-> Menú  liks <- 
==================
*/

.div-containerMenu {
  width: 80px;
  height: 100vh;
}

.header-close {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .i--menu {
    color: white;
    margin: 20px auto;
    font-size: 2em;
    cursor: pointer;
  }
}

nav {
  height: 100%;
  width: 100%;
}

.header-open {
  background-color: rgba(255, 255, 255, 0.1);
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(3px);
  -webkit-box-shadow: 4px 0px 13px 8px rgba(0,0,0,0.14);
-moz-box-shadow: 4px 0px 13px 8px rgba(0,0,0,0.14);
box-shadow: 4px 0px 13px 8px rgba(0,0,0,0.14);

  .i--menu {
    margin: 20px 0;
    margin-left: 50px;
    color: white;
    font-size: 2em;
    transform: rotate(180deg);
    cursor: pointer;
  }
}

.ul--links--close {
  display: none;
}

.ul--links--open {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  padding-top: 10%;
  width: 100%;
  height: 100%;

  li {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .i--iconsNav,
  .span--nav {
    font-size: 1.5em;
    color: white;
  }
}

/*
==================
-> Menú social icons <- 
==================
*/

.ul--social--close {
  display: none;
}

.ul--social--open {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;

  .li--social {
    width: 100%;
    font-size: 3em;
    margin: 20px 0;
    display: flex;
    justify-content: center;

    i {
      display: block;
      color: white;
    }
  }
}

.li--social {
  i {
    display: none;
  }
}

// Router components
.div--router {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .section--principal {
    flex-direction: column-reverse;
  }

  .div-containerMenu {
    width: 100vw;
    height: 60px;
  }

  // button for toggle menú state
  .i--menu {
    display: none;
  }

  .ul--social--open {
    display: none;
  }

  // Styles for liks page
  // Attention! in this query style are inverted completed!

  .header-close {
    background-color: antiquewhite;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;

    .i--menu {
      margin: 20px 0;
      margin-left: 50px;
      color: white;
      font-size: 2em;
      transform: rotate(180deg);
      cursor: pointer;
    }
  }

  .ul--links--close {
    display: block;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;

    li {
      display: flex;
      justify-content: center;
      margin: 0 10px;

      span {
        display: none;
      }
    }

    .i--iconsNav,
    .span--nav {
      font-size: 1.5em;
      color: white; 
    }

    .link-active {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      bottom: 25px;
      color: $textColor;

      .i--iconsNav {
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 80px;
        border-radius: 40px;
        font-size: 2em;
        position: relative;
        top: 10px;
        color: $textColor;
      }

      span {
        display: block;
        position: relative;
        bottom: 10px;
        color: $textColor;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .div-containerMenu {
    width: 100vw;
    height: 60px;
  }

  .header-close {
    background-color: antiquewhite;
  }

  .ul--links--close {
    display: block;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;

    li {
      display: flex;
      justify-content: center;
      margin: 0 10px;

      span {
        display: none;
      }
    }

    .i--iconsNav,
    .span--nav {
      font-size: 1.3em;
      color: white;
    }

    .link-active {
      background-color: antiquewhite;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      bottom: 30px;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;

      .i--iconsNav {
        padding-top: 0;
        font-size: 2em;
      }
    }
  }
}
