$fontIconSize: 2rem;

.section--principal {
  height: 100vh;
  width: 100%;
  display: flex;

  .header--menu--close {
    height: 100%;
    width: 50px;

    .i--menu {
      margin: 0 auto;
      margin-top: 20px;
      font-size: $fontIconSize;

      &:hover {
        cursor: pointer;
      }
    }

    nav {
      height: 100%;
      width: 100%;

      ul {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      // Nav styles
      .i--iconsNav,
      .span--nav {
        display: none;
      }

      .i--social {
        color: black;
        display: block;
        font-size: $fontIconSize;
        margin-bottom: 20px;
      }
    }
  }

  .header--menu--open {
    @extend .header--menu--close;
    background-color: red;
    z-index: 5;
    width: 200px;
  }

  .div--router {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .section--principal {
    flex-direction: column-reverse;

    .header--menu--close {
      height: 40px;
      width: 100%;
      position: relative;
      z-index: 10;

      .i--menu {
        display: none;
      }

      nav {
        height: 100%;
        width: 100%;

        ul {
          height: 100%;
          width: 100%;
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: row;
        }

        .i--social {
          display: none;
        }

        .i--iconsNav {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .section--principal {
    .header--menu--close {
    }
  }
}
