.section--container
    width: 100%
    height: 100vh
    display: flex

.div--middle
    width: 50%
    height: 100%

.div--mainContent
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(3, 1fr) 

.img--main
    width: 100%
    height: 100%

.img--bandera
    margin-right: 20px
    width: 50px
    height: 33px


h1
    font-size: 5em
    color: #536DFE
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 1
    grid-row-end: 2
    padding-top: 50px
    place-self: end center

.span-h1Content
    margin-left: 250px

p
    grid-row-start: 3
    grid-row-end: 4
    grid-column-start: 1
    grid-column-end: 3
    padding:   0   50px
    font-size: 1.5em


.div--bandera
    grid-row-start: 2
    grid-row-end: 3
    grid-column-start: 1
    grid-column-end: 3
    place-self: center center

  
@media screen and (max-width: 1200px)
    h1
        font-size: 3.5em

    .span-h1Content
        margin-left: 150px



@media screen and (max-width: 650px)
    .section--container
        flex-direction: column
        align-items: center


    .div--mainContent
        display: flex
        flex-direction: column
        width: 100%

    h1
        font-size: 3em
        padding-top: 50px
        margin-bottom: 20px
        width: 100% 
        display: flex
        flex-direction: column
        align-items: center

    .span-h1Content
        margin-left: 5px

    p
        width: 100%
        font-size: 1.4em
        text-align: center 

@media screen and (max-width: 850px)
    p
        padding:   0   25px
        font-size: 1.3em 